<div ng-controller="secondController" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" ng-submit="getFormData()" ng-app="myApp">
  <md-content layout-padding="">
    <div>
      <form name="tripForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Destination</label>
            <input ng-model="trip.destination">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Email</label>
            <input ng-model="trip.email" type="email">
          </md-input-container>
          <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="trip.submissionDate"></md-datepicker>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Name</label>
            <input ng-model="trip.name">
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="trip.address">
        </md-input-container>

        <md-input-container md-no-float="" class="md-block">
          <input ng-model="trip.address2" placeholder="Address 2">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>City</label>
            <input ng-model="trip.city">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>State</label>
            <md-select ng-model="trip.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Postal Code</label>
            <input name="postalCode" ng-model="trip.postalCode" placeholder="12345" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="tripForm.postalCode.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="trip.description" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
		  
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
			<md-button class="md-raised md-primary"  type="submit">
				Submit
			</md-button>
        </section>

      </form>
    </div>
  </md-content>
</div>

<!--
Copyright 2018 Google LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found
in the LICENSE file at http://material.angularjs.org/HEAD/license.
-->