<div ng-controller="friendController" ng-cloak="" class="dividerdemoBasicUsage" ng-app="MyApp">

  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span> What your friends are up to? </span>
    </h2>
  </md-toolbar>

  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in messages">
        <div class="md-list-item-text">
          <h3>{{item.what}}</h3>
          <h4>{{item.who}}</h4>
          <p>{{item.notes}}</p>
        </div>
    <md-button class = "md-secondary" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Respond</md-button>
		<md-button class="md-secondary">
			<a ng-click="like()">
				<i class="material-icons">favorite</i>
			</a>
		</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>